<style>
    .row1{
        display: inline;
      }
     #img_div{
           width: 80%;
           padding: 5px;
           margin: 15px auto;
       }
       #img_div:after{
           content: "";
           display: block;
           clear: both;
       }
       img {
      max-width:100px;}
      .border1 {border-style: double;}
        </style>
<style>
    a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
    }
    .btn{
        width: 200px;
        margin-bottom:30px;
    }
    .menu{
        margin-top: 100px;
    }
</style>
<!DOCTYPE html>
<html lang="en">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>shop</title>
        <!-- Favicon-->
        <!-- Core theme CSS (includes Bootstrap)-->
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container px-5">
                <a class="navbar-brand" href="/home?id=0">ATN shop</a>
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="/homepage">Home page</a></li>
                        
                        <% if(!username) {%> 
                      <li class="nav-item"><a class="nav-link active" aria-current="page" href="/login">login</a></li>
                      <% } else{%>
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="/logout">logout</a></li>
                        <small style="color:red"><%= username %> </small>
                        <% } %> 
                  </ul>
            </div>
        </nav>
        <div class="container">

            <div class="row">
        
              <div class="col-lg-3">
        
                <h1 class="my-4">ATN shop</h1>
                <div class="list-group">
                  <a href="/home/?id=2" class="list-group-item">Category</a>
                </div>
                <div class="list-group">
                  <a href="/home/?id=1" class="list-group-item">Product</a>
                </div>
                <div class="list-group">
                  <a href="/home/?id=3" class="list-group-item">History invoice</a>
                </div>
                <div class="list-group">
                  <a href="/checkout" class="list-group-item">Checkout/invoice</a>
                </div>
              </div>
              
              
              <!-- /.col-lg-3 -->

              <div class="col-lg-9" id="" >
                <div class="row1">
                  <% if(idp==1){%>
                    <h2>Product FORM </h2>
                    <div class="row1"><p><a href="/addproduct" class="btn btn-primary"> New Product</a></p></div>
                    <table class="table" style="width:100%" >
                      <% nameid= result.fields[0].name, nameproduct= result.fields[1].name,cateidname= result.fields[2].name,productprice= result.fields[3].name,prodecription= result.fields[4].name,image=result.fields[5].name%>
                      <thead class="thead-dark">
                    <tr>
                    <th scope="col"><%= nameid%></th>
                    <th scope="col"><%= nameproduct%></th> 
                    <th scope="col"><%= cateidname%></th>
                    <th scope="col"><%= productprice%></th>
                    <th scope="col" class="text-center"><%= image%></th>
                    <th scope="col"><%= prodecription%></th>
                    
                    <th scope="col"></th>
                    <th scope="col"></th>
                    </tr>
                    </thead>
                    <% for(var x=0;x < result.rowCount;x++){%>
                    <tr> 
                        <td scope="row"><%= result.rows[x].id%> </td> 
                        <td class="border1"><%= result.rows[x].name;%></td>
                        <td class="border1"><%= result.rows[x].category;%></td>
                        <td class="border1"><%= result.rows[x].price;%></td>
                        
                          <td class="border1"><div id="img_div">
                            <img src="<%= result.rows[x].image%>" alt="photo">
                        </div>
                          </td>
                      
                        <td class="border1"><%= result.rows[x].description;%></td>
                        <td class="border1"><a href="/productdelete/?productid=<%= result.rows[x].id;%>">delete</a></td>
                        
                        <td class="border1"></td>
                     </tr>
                    <%} }else if(idp==2){%>
        
                        <h2>Category FORM </h2>
                        <div class="row1"><p><a href="/addcategory" class="btn btn-primary"> New Category</a></p></div>
                        <table class="table" style="width:100%" >
                          <% namecateid= result1.fields[0].name, namecategory= result1.fields[1].name,decription= result1.fields[2].name %>
                          <thead class="thead-dark">
                        <tr>
                        <th scope="col"><%= namecateid%></th>
                        <th scope="col"><%= namecategory%></th> 
                        <th scope="col"><%= decription%></th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        </tr>
                        </thead>
                        <% for(var x=0;x < result1.rowCount;x++){%>
                        <tr> 
                            <td scope="row"><%= result1.rows[x].cateid%> </td> 
                            <td class="border1"><%= result1.rows[x].catename;%></td>
                            <td class="border1"><%= result1.rows[x].catedecs;%></td>
                            <td class="border1"><a href="/categorydelete/?cateid=<%= result1.rows[x].cateid %> ">delete</a></td>
                         </tr>
                         
                        <%} } else if(idp==3){%>
                          <h2>history invoice FORM </h2>
                        <div class="row1"><p><a href="/checkout" class="btn btn-primary"> check out</a></p></div>
                        <table class="table" style="width:100%" >
  
                          <thead class="thead-dark">
                        <tr>
                        <th scope="col">Invoice ID</th>
                        <th scope="col">Invoice Date</th> 
                        <th scope="col">total (VND)</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        </tr>
                        </thead>
                        <% for(var x=0;x < result3.rowCount;x++){%>
                        <tr> 
                            <td scope="row"><%= result3.rows[x].invoiceid%> </td> 
                            <td class="border1"><%= result3.rows[x].date;%></td>
                            <td class="border1"><%= result3.rows[x].total;%></td>
                            <td class="border1"><a href="/invoicedelete/?invoiceid=<%= result3.rows[x].invoiceid %>">delete</a></td>
                         </tr>
                        
                        <% } }else{}%>
                        </table>
                  </div>
              </div>
              <!-- /.col-lg-9 -->
        
            </div>
            <!-- /.row -->
        
          </div>

        <!-- Footer-->
        <!-- <footer class="py-5 bg-dark">
            <div class="container px-4 px-lg-5"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2021</p></div>
        </footer> -->
        <!-- Bootstrap core JS-->
    </body>
</html>
